.DS_Store
.terraform
.vscode
nginx/certs/letsencrypt
wilbur.pem
wilbur.pub

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
static/
*.sock

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
