[submodule "api"]
	path = api
	url = https://github.com/butterso/api.git
[submodule "nginx"]
	path = nginx
	url = https://github.com/butterso/nginx.git
[submodule "web"]
	path = web
	url = https://github.com/butterso/web.git
[submodule "terraform"]
	path = terraform
	url = https://github.com/butterso/terraform.git
